Repository SFACLOG/sfaclog, pull requests merged in 2024-01, with the labels that each got.

#2 Dev/sfaclog
  apps/web/package.json
  apps/web/src/api/user.ts
  apps/web/src/app/auth/page.tsx
  apps/web/tsconfig.json
  yarn.lock
Labels: bug

#4 PR: Form 디자인 시스템 작업
  packages/sfac-design-kit/src/components/Button/index.tsx
  packages/sfac-design-kit/src/components/Form/Checkbox/Checkbox.stories.tsx
  packages/sfac-design-kit/src/components/Form/Checkbox/index.tsx
  packages/sfac-design-kit/src/components/Form/Input/Input.stories.tsx
  packages/sfac-design-kit/src/components/Form/Input/index.tsx
  packages/sfac-design-kit/src/components/Form/index.tsx
  packages/sfac-design-kit/src/components/Input/Input.stories.tsx
  packages/sfac-design-kit/src/components/Input/index.tsx
  packages/sfac-design-kit/src/components/Input/input.css
  packages/sfac-design-kit/src/styles/global.css
  packages/sfac-design-kit/tsconfig.json
  packages/sfac-design-kit/vite.config.ts
Labels: design-kit, feat

#6 PR: Avatar 디자인 시스템 작업
  packages/sfac-design-kit/public/images/avatar.svg
  packages/sfac-design-kit/src/components/Avatar/Avatar.stories.tsx
  packages/sfac-design-kit/src/components/Avatar/index.tsx
Labels: design-kit, feat

#10 Feat/design-system/button
  packages/sfac-design-kit/index.ts
  packages/sfac-design-kit/src/components/Button/Button.stories.tsx
  packages/sfac-design-kit/src/components/Button/RoundButton.stories.tsx
  packages/sfac-design-kit/src/components/Button/RoundButton.tsx
  packages/sfac-design-kit/src/components/Button/SquareButton.stories.tsx
  packages/sfac-design-kit/src/components/Button/SquareButton.tsx
  packages/sfac-design-kit/src/components/Button/index.ts
  packages/sfac-design-kit/src/components/Button/index.tsx
Labels: design-kit, feat

#12 PR: Card 디자인 시스템 및 모듈 export
  packages/sfac-design-kit/index.ts
  packages/sfac-design-kit/public/images/blue_heart.svg
  packages/sfac-design-kit/public/images/chat.svg
  packages/sfac-design-kit/public/images/dark_heart.svg
  packages/sfac-design-kit/public/images/gray_box.svg
  packages/sfac-design-kit/src/components/Button/index.tsx
  packages/sfac-design-kit/src/components/Card/LogCard/LogCard.stories.tsx
  packages/sfac-design-kit/src/components/Card/LogCard/index.tsx
  packages/sfac-design-kit/src/components/Card/ProjectCard/ProjectCard.stories.tsx
  packages/sfac-design-kit/src/components/Card/ProjectCard/index.tsx
  packages/sfac-design-kit/src/components/Card/SfacfolioCard/SacfolioCard.stories.tsx
  packages/sfac-design-kit/src/components/Card/SfacfolioCard/index.tsx
  packages/sfac-design-kit/src/components/Card/UserCard/UserCard.stories.tsx
  packages/sfac-design-kit/src/components/Card/UserCard/index.tsx
  packages/sfac-design-kit/src/components/Card/index.ts
  packages/sfac-design-kit/src/components/Cards/index.tsx
  packages/sfac-design-kit/src/components/Form/Checkbox/index.tsx
  packages/sfac-design-kit/src/components/Form/SelectBox/SelectBox.stories.tsx
  packages/sfac-design-kit/src/components/Form/SelectBox/index.tsx
  packages/sfac-design-kit/src/components/Form/SelectBox/series.tsx
  packages/sfac-design-kit/src/components/Form/index.ts
  packages/sfac-design-kit/src/components/Form/index.tsx
  packages/sfac-design-kit/src/styles/global.css
  packages/tailwind-config/tailwind.config.ts
Labels: chore, design-kit, feat

#15 Feat/sfaclog/interest-proposal-button
  apps/web/public/images/backend-color.svg
  apps/web/public/images/backend.svg
  apps/web/public/images/cloud-color.svg
  apps/web/public/images/cloud.svg
  apps/web/public/images/container-color.svg
  apps/web/public/images/container.svg
  apps/web/public/images/database-color.svg
  apps/web/public/images/database.svg
  apps/web/public/images/frontend-color.svg
  apps/web/public/images/frontend.svg
  apps/web/public/images/interest/backend.svg
  apps/web/public/images/interest/cloudcomputing.svg
  apps/web/public/images/interest/container.svg
  apps/web/public/images/interest/database.svg
  apps/web/public/images/interest/frontend.svg
  apps/web/public/images/interest/index.ts
  apps/web/public/images/interest/machinelearning.svg
  apps/web/public/images/interest/mobile.svg
  apps/web/public/images/interest/serverless.svg
  apps/web/public/images/machine-color.svg
  apps/web/public/images/machine.svg
  apps/web/public/images/mobile-color.svg
  apps/web/public/images/mobile.svg
  apps/web/src/app/signup/1/page.tsx
  apps/web/src/components/InterestAndProposalButton.tsx
  apps/web/tsconfig.json
Labels: sfaclog, feat

#16 PR: 카드 디자인 시스템 및 모듈 export 에러 수정
  apps/web/src/app/test/page.tsx
  apps/web/src/components/Test.tsx
  packages/sfac-design-kit/index.ts
  packages/sfac-design-kit/public/images/sns/facebook.svg
  packages/sfac-design-kit/public/images/sns/github.svg
  packages/sfac-design-kit/public/images/sns/instagram.svg
  packages/sfac-design-kit/src/Counter.tsx
  packages/sfac-design-kit/src/components/Avatar/index.tsx
  packages/sfac-design-kit/src/components/Button/RoundButton.tsx
  packages/sfac-design-kit/src/components/Button/SquareButton.tsx
  packages/sfac-design-kit/src/components/Card/LargeLogCard/LargeLogCard.stories.tsx
  packages/sfac-design-kit/src/components/Card/LargeLogCard/index.tsx
  packages/sfac-design-kit/src/components/Card/LogCard/index.tsx
  packages/sfac-design-kit/src/components/Card/ProfileCard/ProfileCard.stories.tsx
  packages/sfac-design-kit/src/components/Card/ProfileCard/index.tsx
  packages/sfac-design-kit/src/components/Card/ProjectCard/index.tsx
  packages/sfac-design-kit/src/components/Card/SfacfolioCard/index.tsx
  packages/sfac-design-kit/src/components/Card/UserCard/index.tsx
  packages/sfac-design-kit/src/components/Card/index.ts
  packages/sfac-design-kit/src/components/Form/Checkbox/index.tsx
  packages/sfac-design-kit/src/components/Form/Input/index.tsx
  packages/sfac-design-kit/src/components/Form/SelectBox/SelectBox.stories.tsx
  packages/sfac-design-kit/src/components/Form/SelectBox/index.tsx
  packages/sfac-design-kit/src/components/Form/SelectBox/series.tsx
  packages/sfac-design-kit/src/components/Typography/index.tsx
  packages/sfac-design-kit/src/main.tsx
  packages/sfac-design-kit/tsconfig.json
  packages/sfac-design-kit/vite.config.ts
Labels: bug, design-kit, feat
